body{
    background-color: #2d2c30;
}
.mainheading{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.fleximg{
    display: flex;
    justify-content: center;
    height: 500px;
}
h1, h2{
    color: #e1daf5;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #e1daf5;
}
